* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #423e3b;
}
.cell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  height: 50rem;
}
.cell1,
.cell2,
.cell3 {
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
/* .cell1:hover {
  background: yellow;
} */
.cell1 {
  background-color: #ffff0061;
  transition: 0.5s;
}

/* .cell2:hover {
  background: rgb(255, 0, 0);
} */
.cell2 {
  background: rgba(255, 0, 0, 0.37);
  transition: 0.5s;
}
/* .cell3:hover {
  background: rgb(0, 217, 255);
} */
.cell3 {
  background: rgba(0, 238, 255, 0.4);
  transition: 0.5s;
}
.yellow {
  background-color: yellow;
}
/* .cell1:active {
  background: #ff0;
}
.cell2:active {
  background: rgb(255, 0, 0);
}
.cell3:active {
  background: rgb(0, 238, 255);
} */
